@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.videoList {
  margin: 1rem;

  @include tablet-up {
    margin: 2rem;
    width: 50%;
  }

  &__sectionTitle {
    @include component-space;
    font-size: 1rem;
    font-weight: 600;
    color: $silver;
  }
}
