@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.button {
  border: none;
  border-radius: 5px;
  background-color: $brainflix-primary-contrast;
  color: $bright;
  padding: 1rem;
  font-weight: 600;

  @include tablet-up {
    margin-right: 1.5rem;
    padding: 0;
    width: 10rem;
  }

  &--header {
    @include button-bg("../../assets/icons/upload.svg");
  }

  &--form {
    @include button-bg("../../assets/icons/add_comment.svg");
    width: 100%;

    @include tablet-up {
      margin-right: 0;
      min-width: 10rem;
      width: 10rem;
    }
  }
}
