//Brand primary colours
$brainflix-black: #323232;
$brainflix-blue: #0095ff;
$silver: #afafaf;
$white: #fff;

//Brand secondary colours
$brainflix-darkBlack: #000;
$brainflix-DarkBlue: #0065ad;
$mercury: #e1e1e1;
$alabaster: #fafafa;

// Maximum width of content
$max-width: 63.75rem;

// Break points
$tablet-width: 48rem;
$desktop-width: 80rem;
