$brainflix-primary: #323232;
$brainflix-primary-contrast: #0095ff;
$silver: #afafaf;
$bright: #fff;

$brainflix-secondary: #000;
$brainflix-secondary-contrast: #0065ad;
$mercury: #e1e1e1;
$alabaster: #fafafa;

$max-width: 63.75rem;

$tablet-width: 48rem;
$desktop-width: 80rem;
