$brainflix-primary: #323232;
$brainflix-primary-contrast: #0095ff;
$altText: #afafaf;
$bright: #fff;

$brainflix-secondary: #000;
$brainflix-secondary-contrast: #0065ad;
$divider: #e1e1e1;
$alabaster: #fafafa;

$max-width: 1020px;

$tablet-width: 768px;
$desktop-width: 1280px;
