@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.commentSection {
  &__counter {
    @include component-space;
    font-weight: 600;
  }

  &__form {
    @include component-space;
    @include divider;
    display: flex;
  }

  &__avatar {
    border-radius: 50%;
    height: 2.25rem;
    width: 2.25rem;
    object-fit: cover;
    object-position: left;
    margin-right: 1rem;
    margin-top: 1.5rem;

    @include tablet-up {
      height: 2.5rem;
      width: 2.5rem;
    }
  }
}
