@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography";

.search {
  @include input;
  margin-right: 1rem;
  display: flex;
  width: 100%;
  height: 2.25rem;

  @include tablet-up {
    margin-right: 1.5rem;
    height: 2.5rem;
  }

  &__icon {
    margin: auto 0.75rem;
  }

  &__input {
    border: none;
    background-color: $alabaster;
    font-family: "Avenir Next LT", monospace, sans-serif;

    &::placeholder {
      color: $brainflix-primary;
    }
  }
}

label {
  display: flex;
}
