@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.description {
  &__title {
    margin-bottom: 1rem;
    @include divider;
    padding-bottom: 1rem;
    font-size: 1.75rem;
    line-height: 2.5rem;

    @include tablet-up {
      border: none;
      margin: 0;
    }
  }

  &__stat-wrapper {
    @include component-space;
    @include divider;
    display: flex;
  }

  &__left,
  &__right {
    width: 50%;

    @include tablet-up {
      display: flex;
    }
  }

  &__right {
    @include tablet-up {
      justify-content: end;
    }

    @include desktop-up {
      margin-right: 2rem;
    }
  }

  &__channel {
    margin-bottom: 1rem;
    font-weight: 600;

    @include tablet-up {
      margin-right: 2rem;
    }
  }

  &__date {
    margin-bottom: 1rem;
    color: $altText;
  }

  &__views,
  &__likes {
    @extend .description__date;
    display: flex;

    @include tablet-up {
      margin-left: 2rem;
    }
  }

  &__icon {
    height: 1.25rem;
    padding: 0 0.5rem;
  }

  &__text {
    @include component-space;

    @include desktop-up {
      margin-right: 2rem;
    }
  }
}
