.header {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__logo {
    height: 3rem;
  }
  &__search {
    display: flex;
    flex-wrap: nowrap;
  }

  &__avatar {
    border-radius: 50%;
    height: 2.25rem;
    width: 2.25rem;
    object-fit: cover;
    object-position: left;
    margin-right: 1rem;
  }
}
