@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include tablet-up {
    flex-direction: row;
    margin: 2rem;
  }

  &__logo {
    margin: auto;
    @include component-space;
    max-width: 7.5rem;
  }

  &__search {
    @include component-space;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }

  &__avatar {
    border-radius: 50%;
    height: 2.25rem;
    width: 2.25rem;
    object-fit: cover;
    object-position: left;

    &--mobile {
      @include tablet-up {
        display: none;
      }
    }

    &--tablet {
      display: none;

      @include tablet-up {
        display: block;
      }
    }
  }
}
