@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  max-width: $max-width;

  @include tablet-up {
    flex-direction: row;
    margin: 1rem auto;
    padding: 0 2rem;
  }

  &__logo {
    margin: auto;
    @include component-space;
    max-width: 7.5rem;

    @include tablet-up {
      margin: 0 auto 0 0;
    }
  }

  &__search {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;

    @include tablet-up {
      margin-bottom: 0;
    }
  }

  &__avatar {
    border-radius: 50%;
    height: 2.25rem;
    width: 2.25rem;
    object-fit: cover;
    object-position: left;

    @include tablet-up {
      height: 2.5rem;
      width: 2.5rem;
    }

    &--mobile {
      @include tablet-up {
        display: none;
      }
    }

    &--tablet {
      display: none;

      @include tablet-up {
        display: block;
      }
    }
  }
}
