@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.video {
  background: $brainflix-secondary;
  width: 100%;

  @include tablet-up {
    padding: 0 2rem;
  }

  @include desktop-up {
    margin: auto;
  }
}
