@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.main {
  &__content {
    margin: 1rem;
    max-width: $max-width;

    @include tablet-up {
      margin: 1rem auto;
      padding: 0 2rem;
    }

    @include desktop-up {
      padding: 0;
      display: flex;
    }
  }

  &__commentSection {
    @include desktop-up {
      width: 100%;
      border-right: 2px solid $mercury;
    }
  }
}
