@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.videoList {
  &__item {
    @include component-space;
    display: flex;
  }

  &__link {
    text-decoration: none;
    color: $brainflix-primary;
  }

  &__image {
    margin-right: 1rem;
    width: 40%;
    border-radius: 5px;
    background-color: $divider;

    @include desktop-up {
      width: 35%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__title {
    font-weight: 600;

    @include tablet-up {
      font-weight: 700;
      line-height: 1.2rem;
    }
  }

  &__channel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet-up {
      font-weight: 600;
    }
  }
}
